
*,
html{
    margin: 0;
    padding: 0;
}

body{
    background-color:  #F1FADA;
    font-family: 'Josefin Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif   ;
}

 
.navbar-container{
    background-color: #2D9596;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.img-logo {
    margin-left: 0px;
    width: 300px;
    height: 90px;
}

.menu {
    display: block;
	color: white;
	text-align: center;
    padding: 14px 16px;
	text-decoration: none;
}

.ul{
  display: flex;
  justify-content: center;
  gap: 2rem 1rem;
  list-style-type: none;
  margin: 10px 100px; 
  padding: 10px 20px; 
}

#ul-container{
    padding-left: 30px;
    margin-left: 40px;
}
.a-navbar{
    padding:15px 30px;
    color: white;
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;
    font-family: Josefin Sans    ;
}

.a-navbar:hover{
    color :white;
    background-color: #2d3e50;
    transition: .0.2s ease-in-out;
    transition-delay: .3s ;
    border-radius: 50px;
}

.content {
    color: white;
    display: flex;
    flex-direction: row;
    gap: 10rem;
    padding: 20px 15px;
    margin: 20px;
}

.content-description{
    padding: 20px 70px;
    color: black;
    display: inline;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 500px;
    column-gap: 20rem;
}


  
  .main-content {
    margin-bottom: 10px;
  }
  
  .title {
    margin: 15px; 
  }
  
  .content-description-3 {
    margin: 20px; 
    font-size: 20px;
  }
  
  .button-start {
    margin: 10px 100px; 
    padding: 10px 20px; 
    border-radius: 999px;
    background-color: #2d3e50;
    color: white;
  }

  .button-start:hover {
    color :black;
    background-color: white;
    transition: .2s ease-in-out;
    transition-delay: .3s ;
  }
.title{
    font-size: 5rem;
}

.img-content1{
    height: 500px;

}

.footer-container{
    background-color: tomato;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.footer-content{
    padding: 10px 15px;
    font-weight: 400;
}

.info-footer{
    margin: 10px 20px;
    font-weight: 400;
    font-size:  25px;
}

.p-footer{
    column-gap: 20px;
}

.p-footer:hover{
    color :#2d3e50;
    text-decoration: underline;
    transition: .2s ease-in-out;
    transition-delay: .3s ;
}

aside .social-media ul{
  padding: 1.5rem 1rem;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  margin: auto;
  background-color:#2D9596;
  color: #2d3e50;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.social-media ul li {
    list-style-type: none;
}

.social-media ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #F1FADA;
    transition: all 0.1s ease-in-out;
  }

.social-media ul li a:hover{
    color :black;
    transition: .2s ease-in-out;
    transition-delay: .3s ;
  }

  @media screen and (max-width: 500px) {
    .navbar-container {
        background-color: #2D9596;
        height: 250px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
   nav .ul{
    display: contents;
    justify-content: space-between;
    align-items: center;
    }

    .content {
      display: flex;
      flex-direction: column-reverse ;
      gap: 2rem;
      width: 100%;
      height: 800px;
  }

  .content-description{
    margin: 5px 10px;
    padding: 5px 10px;
    color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
   
  }
.img-content1{
  margin: 0px 60px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.title{
  font-size: 2rem;
}

.content-description-3 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}


  }